#quote-box {
  background-color: #006633;
}

.box {
  background-color: whitesmoke;
}

.buttons {
margin-top: 70px;
margin-bottom: 50px;
margin-left: auto;
margin-right: auto;
}

.buttons button {
width: 600px;
}

.buttons a {
position: absolute;
width: 530px;
margin-top:50px;

}

#author {
margin-top: 10px;
}

#text{
  font-family: IBM Plex Serif, serif;
  font-size: 48px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  line-height: 1.2em;
  letter-spacing: 1px;
}

#author {
      font-family: IBM Plex Serif, serif;
      font-size: 18px;
      font-weight: 100;
      color: rgba(0, 0, 0, 1);
      text-transform: none;
      font-style: italic;
      text-decoration: none;
      line-height: 1.2em;
      letter-spacing: 1px;
}

